@media (min-width: 768px) {
    .iJigMv::after {
        display: block;
    }
}
.iJigMv {
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.03) 15%, rgba(0, 0, 0, 0.125) 30%, rgba(0, 0, 0, 0.25) 46%, rgba(0, 0, 0, 0.4) 61%, rgba(0, 0, 0, 0.553) 75%, rgba(0, 0, 0, 0.694) 88%, rgba(0, 0, 0, 0.8));
}

.header{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-flow: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    left: 0px;
    padding: 0px 1em;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 9;
    height: inherit;
}

@media (min-width: 768px){
    .JRtlS {
        padding: 0px 36px;
    }

    .gbHCZO {
        min-width: 79px;
        height: 48px;
        margin-right: 32px;
        cursor: pointer;
    }
}

.JRtlS {
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-flow: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    /* padding: 0px 20px; */
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: all 0.2s ease-in-out 0s;
    will-change: background-color, height;
    height: 72px;
    z-index: 1;
}

.hMqyAO {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-flow: row;
    height: 100%;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.container--hw-full {
    height: 100%;
    width: 100%;
}

.logo {
    background-color: transparent;
    background-image: url('https://static-assets.bamgrid.com/product/disneyplus/images/logo.1a56f51c764022ee769c91d894d44326.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    min-height: 38px;
    min-width: 63px;
    width: auto;
}

* {
    box-sizing: border-box;
}

.iLqZlV {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

@media (min-width: 1024px){
    .iLqZlV:not(.subnav-item) > a, .iLqZlV:not(.subnav-item) > span {
        padding: 16px 18px;
    }
}

@media (min-width: 1024px){
    .iLqZlV > a, .iLqZlV > span {
        padding: 16px 18px;
    }
}

.iLqZlV > a, .iLqZlV > span {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-flow: row;
    flex: 1 1 0%;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-decoration: none;
}

.iLqZlV p, .iLqZlV:not(.subnav-item) span {
    position: relative;
}

.iLqZlV > a span, .iLqZlV > span span {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}

.bFBSwK {
    height: 24px;
    min-width: 24px;
    width: 24px;
    z-index: auto;
}

@media (min-width: 1024px){
    .iLqZlV > a span svg, .iLqZlV > span span svg {
        width: 20px !important;
        height: 20px !important;
    }
}

.bFBSwK path {
    fill: rgb(249, 249, 249);
}

@media (min-width: 1024px){
    .iLqZlV:not(.subnav-item) p {
        display: inline-block;
    }
}

.page-nav.page-nav--small {
    font-size: 13px;
    letter-spacing: 1.42px;
    line-height: 1.07;
}

.text-color--primary {
    color: #f9f9f9;
}

.margin--left-2 {
    margin-left: 0.5rem;
}

.page-nav {
    font-family: Avenir-World-for-Disney-Demi,sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.4;
    text-transform: uppercase;
}

.iLqZlV:hover a p::before, .iLqZlV:focus a p::before, .iLqZlV:hover a span::before, .iLqZlV:focus a span::before {
    background-color: rgb(249, 249, 249);
    transform: scaleX(1);
    visibility: visible;
    opacity: 1 !important;
}

.iLqZlV p::before, .iLqZlV:not(.subnav-item) span::before {
    background-color: rgba(249, 249, 249, 0.4);
    border-radius: 0px 0px 4px 4px;
    bottom: -6px;
    content: "";
    height: 2px;
    left: 0px;
    opacity: 0;
    position: absolute;
    right: 0px;
    transform-origin: left center;
    transform: scaleX(0);
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    visibility: hidden;
    width: auto;
}

.cUjquv {
    transition: all 0.3s ease 0s;
}

.margin--right-1 {
    margin-right: 0.25rem;
}

.icon--size-12 {
    height: 12px;
    width: 12px;
}

.icon--plus, .icon--plus-inverse {
    background-position: 50%;
    background-repeat: no-repeat;
}

.icon--plus {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0.25 0.25 25.5 25.5'%3E%3Cpath fill='%23F9F9F9' d='M22.85 10.1H15.9V3.15a2.9 2.9 0 0 0-5.8 0v6.95H3.15a2.9 2.9 0 0 0 0 5.8h6.95v6.95a2.9 2.9 0 0 0 5.8 0V15.9h6.95a2.9 2.9 0 1 0 0-5.8Z'/%3E%3C/svg%3E);
}

.button.button--secondary {
    background: #40424a;
    color: #f9f9f9;
}

.button.button--destructive, .button.button--outline, .button.button--outline-invalid, .button.button--outline-transparent, .button.button--outline-valid, .button.button--play, .button.button--play.button--play-secondary, .button.button--primary, .button.button--secondary, .theme--kids-mode .button.button--play.button--play-secondary {
    border: 0;
    border-radius: 0.25rem;
}

.gLASoB {
    position: absolute;
    top: 10px;
    opacity: 0;
}

.iPFLWk {
    padding: 0px 24px;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: 48px;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
    width: auto;
    -webkit-font-smoothing: antialiased;
    opacity: 1;
    visibility: visible;
}

.button {
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1.5px;
    line-height: 1.6;
    outline: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.gLASoB {
    position: absolute;
    top: 10px;
    opacity: 0;
}

p{
    margin-top: revert;
    margin-bottom: revert;
}

.iLqZlV.hidden {
    display: none;
}

@media (min-width: 1024px){
    .iLqZlV.hidden {
        display: flex !important;
    }
}

.dropdown {
    background-color: #31343e;
}

.cXrgwk {
    /* top: 0px;
    right: calc(3.5vw + 24px); */
    height: 100%;
    display: flex;
    align-items: flex-start;
    position: initial;
}

.kHBzmg {
    background: rgb(19, 19, 19);
    border: 1px solid rgba(151, 151, 151, 0.34);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 18px 0px;
    height: auto;
    max-height: calc(100vh - 40px);
    padding: 0px 20px 20px;
    width: 240px;
    z-index: 10;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: end;
    justify-content: flex-end;
    list-style: none;
    margin: 0px;
    position: absolute;
    right: 0px;
    transition-duration: 300ms;
    transition-property: max-height, height, padding;
    transition-timing-function: ease-in-out;
}

.kHBzmg > li:first-child {
    height: 72px;
    opacity: 1;
    width: auto;
}

@media (min-width: 1440px){
    .kHBzmg {
        width: 240px;
    }
}

.dcjqQs {
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    opacity: 1;
    overflow: hidden;
    padding: 8px 0px;
    position: relative;
    text-align: left;
    transition: opacity 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 250ms;
    width: 0px;
}

.kHBzmg > li:first-child a {
    justify-content: flex-end;
    -webkit-box-pack: end;
}

.dcjqQs:hover p, .dcjqQs:focus p, .dcjqQs:hover a, .dcjqQs:focus a {
    color: rgb(249, 249, 249);
}

.dcjqQs a {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 100%;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-decoration: none;
    width: 100%;
}

.kYCEzQ {
    position: relative;
}

.kHBzmg > li:first-child p {
    color: rgb(249, 249, 249);
    margin-right: 16px;
}

.dcjqQs:hover p, .dcjqQs:focus p, .dcjqQs:hover a, .dcjqQs:focus a {
    color: rgb(249, 249, 249);
}

.eeBCak {
    display: block;
    float: left;
    opacity: 1;
    transition: opacity 300ms ease 250ms, color 300ms ease 0s;
}

@media (min-width: 1440px){
    .eeBCak {
        display: block;
        opacity: 1;
    }
}

.margin--left-4 {
    margin-left: 1rem;
}

.body-copy {
    /* font-family: Avenir-World-for-Disney-Regular,sans-serif; */
    font-size: 15px;
    letter-spacing: -.1px;
    line-height: 1.6;
}

.gHzMKE {
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 1;
    padding: 0px;
    margin: 0px;
    -webkit-box-align: center;
}

.kOICNQ {
    display: block;
    cursor: pointer;
    position: relative;
    height: 36px;
    width: 36px;
    background: url(https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/860C4A04F49C9678C54EDCE3DBC95CF7E8C93116B69EC81CF88871E1D60A7F5A/scale?width=96&format=png) 0% 0% / contain no-repeat;
    border-radius: 50%;
    margin: auto;
    transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

@media (min-width: 768px){
    .kOICNQ {
        height: 48px;
        width: 48px;
    }
}

.kxEVVW.active {
    opacity: 1;
    transition: opacity 300ms ease 300ms;
    width: 200px;
}

.kxEVVW {
    background-color: rgba(249, 249, 249, 0.1);
    display: flex;
    height: 1px;
    margin: 0px 0px 8px;
    opacity: 0;
    width: 0px;
}

.hbptig {
    height: 100%;
    max-height: calc(100vh - 135px);
    overflow: hidden auto;
}

.dcjqQs.active {
    opacity: 1;
    transition-delay: 300ms;
    transition-duration: 500ms;
    width: 199px;
}

.jpVPud {
    display: block;
    cursor: pointer;
    position: relative;
    height: 36px;
    width: 36px;
    background: url(https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/BD2FA0F3965617FC515E3CEBD3AD51C00CCFFBF98F96448EFE46B82867FCE542/scale?width=96&format=png) 0% 0% / contain no-repeat;
    border-radius: 50%;
    margin: auto;
    transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.jpVPud::after {
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0);
    inset: 0px;
    content: "";
    position: absolute;
    transition: border 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.eeBCak {
    display: block;
    float: left;
    opacity: 1;
    transition: opacity 300ms ease 250ms, color 300ms ease 0s;
}

@media (min-width: 1440px){
    .eeBCak {
        display: block;
        opacity: 1;
    }
}

@media (min-width: 768px){
    .jpVPud {
        height: 48px;
        width: 48px;
    }
}

.kHBzmg .dropdown-options {
    padding-bottom: 8px;
}

.kHBzmg .add-profile {
    height: 36px;
    margin-bottom: 8px;
    width: 36px;
}

@media (min-width: 768px){
    .kHBzmg .add-profile {
        width: 48px;
        height: 48px;
    }
}

.AEjQN {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgba(249, 249, 249, 0.1);
    border: none;
    border-radius: 48px;
    display: flex;
    height: 48px;
    -webkit-box-pack: center;
    justify-content: center;
    width: 48px;
}

.kHBzmg .add-profile svg {
    height: 18px;
    width: 18px;
}

@media (min-width: 768px){
    .kHBzmg .add-profile svg {
        width: 24px !important;
        height: 24px !important;
    }
}

.text-color--secondary {
    color: #cacaca;
}

.jwdAZt > li:first-child a {
    justify-content: flex-end;
    -webkit-box-pack: end;
}

.gIjMpm a {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 100%;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-decoration: none;
    width: 100%;
}

.jwdAZt {
    background: transparent;
    border: 1px solid transparent;
    box-shadow: none;
    height: 100%;
    max-height: 72px;
    padding: 0px 20px;
    width: 100px;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: end;
    justify-content: flex-end;
    list-style: none;
    margin: 0px;
    position: absolute;
    right: 0px;
    transition-duration: 300ms;
    transition-property: max-height, height, padding;
    transition-timing-function: ease-in-out;
}

.jwdAZt > li:first-child {
    height: 72px;
    opacity: 1;
    width: auto;
}

@media (min-width: 1440px){
    .jwdAZt {
        width: 240px;
    }
}

.gIjMpm {
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    opacity: 0;
    overflow: hidden;
    padding: 8px 0px;
    position: relative;
    text-align: left;
    transition: opacity 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 250ms;
    width: 0px;
}

.iesoaL {
    display: none;
    float: left;
    opacity: 0;
    transition: opacity 300ms ease 250ms, color 300ms ease 0s;
}

.jwdAZt > li:first-child p {
    color: rgb(249, 249, 249);
    margin-right: 16px;
}

@media (min-width: 1440px){
    .iesoaL {
        display: block;
        opacity: 1;
    }
}